/* ? Start Code Style */
* {
    box-sizing: border-box;
 }
 html {
    height: 100%;
    margin: 0;
 }
.container{
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
 }
 h1 {
    text-align: center;
 }
 #letters {
    width: 50%;
    height: 350px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 1em 0;
    font-family: 'Comic Sans MS', sans-serif;
 }
 #letters div {
    margin: 5px;
    padding-top: 0.5em;
    background-color: #000;
    border: 2px solid #ff0101;
    color: yellow;
    width: 50px;
    height: 50px;
    line-height: 1.5;
    overflow: hidden;
    cursor: pointer;
 }
 #letters div:hover {
    background-color:aqua;
    color: #000;
 }
 #clue p {
    margin: 0;
    font-size: 3rem;
    letter-spacing: 0.5em;
    font-family: 'Comic Sans MS', sans-serif;
 }
 
 #letters div.hovers {
    background-color: #db4747;
    color: #ffff;
    opacity: 0.5;
 }
 
 section#image {
    text-align: center;
 }
 section#gameover p {
    text-align: center;
    font-size: 1rem;
    display: none;
    padding-top: 40px;
    color: red;
 }
